
.event-standings{
  margin-top: 0.8rem;
}

.competition.live .event-standings {
  animation: pulse 5s ease-in-out infinite;
}

.event-standings>div:nth-child(even) {
  background-color: #0001;
  box-shadow: 1rem 0 #0001, -1rem 0 #0001;
}