.my-score {
  display: flex;
  align-items: center;
  align-content: center;
  top:0;
  width:500px;
  height: 70px;
  border-radius: 35px;
}

.my-score .my-score-text {
    display:flex;
    margin-top:-0.3rem;
}

.my-score .num {
    text-align: center;
    font-weight: 900;
    font-size:3.5rem;
    -webkit-text-stroke: 3px #111;
}
.my-score .num>div {
    width:2rem;
}

.my-score .score {
  width: 9.3rem;
  text-align: left;
}

.my-score .countdown {
    display:flex;
    align-items: baseline;
}
.my-score .countdown .sub {
    font-size:smaller;
    width:1rem;
}

.my-score .my-score-avatar {
    padding-left:2px;
    padding-right:1.1rem;
}
.my-score .my-score-avatar>img {
    margin-bottom:-0.4rem;
    width: 57px;
    height: 57px;
    border: 4px solid #111;
    border-radius: 50%;
}

.my-score .score.pulse, .my-score .countdown.pulse {
    animation: pulse2 2s infinite;
}

@keyframes pulse2 {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
