.player-row {
  display: flex;
  margin-bottom: 0.5rem;
}

.player-row .player-info {
  min-width: 15rem;
  display:flex;
  padding-right: 0.8rem;
}

.player-row .player-info .player-name {
  font-weight: bold;
  color: #fff;
}

.player-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 15%;
  margin-right: 10px;
  border:2px solid #0005;
}

.player-row.out {
  opacity: 0.1;
}
.player-row.active .player-avatar {
  border: 2px solid rgba(253, 226, 68, 0.692);
}
.player-row.admin .player-avatar {
  border: 2px solid rgb(255, 255, 255);
}
.player-row.disqualified .player-avatar {
  border: 2px solid rgb(255, 0, 0);
}

.player-row .player-score {
  font-size: 1.3rem;
  font-weight: bold;
  color: gold;
}

.player-row .player-logs {
  display: flex;
  flex-wrap: wrap;
}
.player-row .player-logs img {
  border: 2px solid #fff5;
  border-radius: 50%;
  background-color: #3f4247;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -0.7rem;
  margin-bottom: -0.7rem;
}

.player-standings.live {
  animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}