.player-row {
  display: flex;
  padding: 0.4rem 0.2rem;
}

.player-row .player-info {
  display:flex;
  padding-right: 0.8rem;
}

@media (max-width: 560px) {
  .player-row {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.15rem 0 0.8rem 0;
  }
  .player-row .player-logs {
    padding: 0 3rem;
  }
  .player-row .player-score {
    flex:1;
    text-align: right;
  }
}

.player-row .player-info .player-name, .player-row .player-info .event-name {
  min-width: 11rem;
  color: #fff;
}
.player-row .player-info .event-hours {
  opacity: 0.7;
  margin-top: -0.3rem;
  font-size: 0.6rem;
  font-weight: normal;
}

.user-player-head {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.user-player-head h3 {
  color: #fff;
  line-height: 1rem;
  padding: 0 0.5rem;
}

.player-place {
  display: inline-block;
  width: 1.6rem;
  padding: 0 0.3rem;
  text-align: center;
  font-size:0.8rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  color:#000;
}

.player-place>span {
  font-size: 0.6rem;
}

.player-row .player-info a{
  margin:0 0.3rem;
  color: #fff9e4;
}
.player-row .player-info a:hover{
  color: gold;
}

/* @media (max-width: 560px) {
  .player-row .player-info a>span {
    display: none;
  }
} */


.player-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 15%;
  margin-right: 10px;
  border:2px solid #0005;
}

.player-row.out {
  opacity: 0.1;
}
.player-row.active .player-avatar {
  border: 2px solid rgba(253, 226, 68, 0.692);
}
.player-row.admin .player-avatar {
  border: 2px solid rgb(255, 255, 255);
}
.player-row.disqualified .player-avatar {
  border: 2px solid rgb(255, 0, 0);
}

.player-row .player-score {
  font-size: 1.3rem;
  font-weight: bold;
  color: gold;
}

.player-row .player-logs {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0.6rem;
}
.player-row .player-logs img {
  outline: 2px solid #fff5;
  outline-offset:-2px;
  border-radius: 50%;
  background-color: #3f4247;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: -0.7rem;
  margin-bottom: -0.7rem;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}